//- This file is part of XeniumFaucet.
//-
//- XeniumFaucet is free software: you can redistribute it and/or modify
//- it under the terms of the GNU General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- XeniumFaucet is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU General Public License for more details.
//-
//- You should have received a copy of the GNU General Public License
//- along with XeniumFaucet.  If not, see <https://www.gnu.org/licenses/>.

doctype html

html
	head
		title #{locals.coinName} Faucet v#{locals.versionString}
		link(rel="stylesheet" href="/src/mystyles.css")
		meta(name='viewport' content='width=device-width, initial-scale=1')

		block scripts

	body
		section.hero.is-primary.is-bold
			div.hero-body
				div.container
					h1.title.is-family-monospace #{locals.coinName} Faucet v#{locals.versionString}
					p.subtitle Run by #{locals.faucetOwner}

			div.hero-foot
				nav.tabs.is-boxed.is-fullwidth
					div.container
						ul
							block tabs

		br

		div.container.is-fluid
			block body

		br

	footer.footer
		div.content.has-text-centered
			p.subtitle Donate to this #{locals.coinName} faucet!

			p.has-text-danger.is-hidden-mobile #{locals.faucetAddress}
			br.is-hidden-mobile

			div.notification.is-danger.is-hidden-tablet
				p Please use a computer to donate!

			div.columns
				div.column
					p.is-size-7 Peers: #{status.peers}
					p.is-size-7 Sync Status: #{status.walletBlocks}/#{status.networkBlocks} blocks
					p.is-size-7 Network Hashrate: #{status.netHashrate} kH/s

				div.column
					p.is-size-7 Unlocked Balance: #{status.unlockedBalance} #{locals.ticker}
					p.is-size-7 Locked Balance: #{status.lockedBalance} #{locals.ticker}
					p.is-size-7 Total Balance: #{status.totalBalance} #{locals.ticker}

				div.column
					p.is-size-7 Addresses known: #{status.addressesKnown}
					p.is-size-7 Total transactions sent: #{status.totalTransactionsSent}
					p.is-size-7 Total #{locals.ticker} sent: #{status.totalCoinsSent} #{locals.ticker}

			p Copyright 2019-2020 
				a(href="https://github.com/TheDevMinerTV") TheDevMinerTV
				| , licensed under
				a(href="https://www.gnu.org/licenses/gpl-3.0.html")  GPL-3.0
